.banners
	height: 450px
	overflow: hidden

.banners-wrapper
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	transition: transform 500ms ease-in-out

.banners-buttons
	display: inline-block
	position: relative
	width: 100%
	top: -450px

.banners-button
	display: none
	justify-content: center
	align-items: center
	position: absolute
	height: 72px
	width: 40px
	top: 189px
	background: #fff
	color: #acacac
	opacity: 0.7
	cursor: pointer

.banners-button_left
	left: 0

.banners-button_right
	right: 0

.banners:hover .banners-button
	display: flex


.banner
	width: 100%
	height: 100%
	background-position: center
	background-size: cover

.banner_padding
	padding: 0 80px
	height: 100%

.banner__wrapper
	display: flex
	justify-content: center
	align-items: center
	height: 450px

.banner__img
	max-width: 100%
	height: auto

.banner__content
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	padding: 0 40px

.banner__title
	margin: 0 0 10px 0
	font-size: 42px
	font-weight: 900
	font-family: 'Open-Sans', sans-serif
	line-height: 120%
	color: #28282f

.banner__content_description
	margin: 0 0 10px 0
	font-size: 15px
	font-weight: 400
	font-family: 'Open-Sans', sans-serif
	line-height: 140%
	color: #28282f

.banner__content_link
	display: inline-block
	height: 44px
	padding: 0 20px
	font-size: 12px
	font-family: 'Open-Sans', sans-serif
	line-height: 44px
	border-radius: 22px
	background: #0067b7
	color: #fff
	text-transform: uppercase