.banners
	height: 480px
	overflow: hidden

.banners-wrapper
	flex(row, flex-start, stretch)
	flex-wrap: nowrap
	transition: transform 500ms ease-in-out

.banners-buttons
	display: inline-block
	width: 100%

.banners-button
	display: none
	justify-content: center
	align-items: center
	position: absolute
	size(40px, 72px)
	top: 189px
	background: #fff
	color: #acacac
	opacity: 0.7
	cursor: pointer

.banners-button_left
	left: 0

.banners-button_right
	right: 0

.banners-buttons__angle-left
.banners-buttons__angle-right
	padding: 10px

.banners:hover .banners-button
	display: flex


.banner
	display: flex
	height: 480px
	background-position: center
	background-size: cover

.banner_margin
	display: flex
	margin: 0 auto
	height: 100%

.banner-body
	flex(row, center, center)
	size(100%, auto)

.banner_padding
	padding: 0 80px
	height: 100%

.banner__wrapper
	flex(row, center, center)
	display: flex
	height: 480px

.banner__img
	max-width: 100%
	height: auto

.banner__content
	flex(column, center, flex-start)
	padding: 30px 0 35px 85px
	background-color: #faffe4

.banner__title
	font(42px)
	span
		color: #6c9e00

.banner__text
	margin-top: 30px
	font(18px,, #4d4d4d)

.banner__timer
	margin-top: 20px
	size(250px, 50px)
	background-color: #cdcdcd

.banner__content_link
	display: inline-block
	height: 44px
	padding: 0 20px
	font(12px,, #fff)
	line-height: 44px
	border-radius: 22px
	background: #0067b7
	text-transform: uppercase

@media (max-width: 767px)
	.banner__wrapper
		display: block
		size(305px, 180px)
		margin: 0 auto
	.banner__img
		display: block
		height: 180px
		max-width: none
	// .banner_direction
	// 	display: flex
	// 	flex-direction: column
	// 	flex-wrap: nowrap
	.banner_width
		float: left
		display: block
		padding: 20px
	.banner__content
		height: 180px
	.banner__title
		font-size: 28px
	.banner__text
		font-size: 12px