.catalog__nav
	flex(, space-between)
	padding: 20px 0 50px

.catalog__back-button
	flex(, center, center)
	border: solid 1px stroke-color
	color: gray-dark-color


.breadcrumbs-wrapper
	flex(, space-between)

.breadcrumbs > *::before
	content: '/'
	display: inline-block
	padding: 0 10px

.breadcrumbs > :first-child::before
	content: none

// .catalog__num-product-dysplay
	