.discounts
	flex(column, center, center)
	width: 100%
	background-color: #fafaea
	z-index: 1

.discounts__container
	overflow: hidden
	position: relative

.discounts__wrapper
	flex(,,flex-start)
	flex-wrap: nowrap
	transition: transform 400ms ease-in-out

.discounts__body-wrapper
	padding: 0 15px

.discounts__body
	flex(column, center)

.discounts__img
	size(100%, 400px)
	background-position: 100%
	background-size: cover

.discounts__text
	padding-top: 20px
	font(18px, 700)
	text-align: center

.discounts__promocode
	padding-top: 20px
	font(14px)
	text-align: center

.discounts_indent
	width: 40px

.discounts__shadow-start
.discounts__shadow-end
	position: relative
	size(100%, 60px)

.discounts__shadow-start:before
.discounts__shadow-start:after
.discounts__shadow-end::before
.discounts__shadow-end::after
	content: ''
	position: absolute
	bottom: -25px
	left: 110px
	size(50%, 15px)
	max-width: 400px
	box-shadow: 0 -15px 15px 5px rgba(0,0,0,0.035)
	transform: rotate(3deg)
	z-index: 1

.discounts__shadow-start:after
.discounts__shadow-end::after
	transform: rotate(-3deg)
	right: 110px
	left: auto

.discounts__shadow-start:before
.discounts__shadow-start:after
	top: -25px
	box-shadow: 0 15px 15px 5px rgba(0,0,0,0.035)
	transform: rotate(-3deg)

.discounts__shadow-start:after
	transform: rotate(3deg)


.discounts-buttons
	width: 100%

.discounts-button
	display: none
	justify-content: center
	align-items: center
	position: absolute
	size(40px, 72px)
	top: 189px
	background: #fff
	color: #acacac
	opacity: 0.7
	cursor: pointer

.discounts-button_left
	left: 15px

.discounts-button_right
	right: 15px

.discounts-buttons__angle-left
.discounts-buttons__angle-right
	padding: 10px

.discounts:hover .discounts-button
	display: flex

@media (max-width: 767px)
	.discounts__shadow-start:before
	.discounts__shadow-start:after
	.discounts__shadow-end::before
	.discounts__shadow-end::after
		content: none

@media (max-width: 1199px)
	.discounts__shadow-start:before
	.discounts__shadow-start:after
	.discounts__shadow-end::before
	.discounts__shadow-end::after
		left: 0

	.discounts__shadow-start:after
	.discounts__shadow-end::after
		right: 0
		left: auto