.footer
	flex(column, center, center)
	background-color: #fff

.footer__wrapper
	padding: 45px 0 40px 0

.footer-connection
.footer-block
	padding: 0 15px

.footer-connection__title
.footer-block__title
	padding-bottom: 20px
	font(14px, 300, #4e4e4e)
	text-transform: uppercase

.footer-connection__form
	padding-bottom: 10px

.footer-connection__input-wrapper
	flex(column)
	padding-bottom: 10px

.footer-connection__input
	height: 40px
	padding-left: 20px
	font(14px, 100, stroke-color)
	border: 1px solid stroke-color
	border-radius: (@height / 2)
	background: #fff
	transition: background-color 200ms ease-in-out

.footer-connection__input::placeholder
	font(14px, 100, stroke-color)

.footer-icon-button-search
.footer-icon-envelope
	size(30px, 30px)
	color: main-color
	transition: color 200ms ease-in-out

.footer-icon-button-search:hover
.footer-icon-envelope:hover
	color: secondary-color

.footer-connection__button
	position: absolute
	right: 0px
	top: 5px
	padding: 0 6px
	border: none
	background: none
	cursor: pointer

.footer-block__item
	margin: 0
	padding: 3px 0
	list-style-type: none

.footer-block__link
	position: relative
	font(14px, 100, #4e4e4e)
	transition: color 200ms ease-in-out

.footer-block__link:hover
	text-decoration: underline
	color: #464647

.footer-icon-location
.footer-icon-message
.footer-icon-phone
	size(15px, 15px)
	position: absolute
	left: -30px

.footer-copyright
	flex(, center)
	width: 100%
	background-color: main-color

.footer-copyright__wrapper
	flex(, space-between)
	padding: 35px 20px

.footer-copyright__text
	flex(,,center)
	font(14px, 100, #c6dd7e)

.footer-copyright__link
	font(14px, 100, #fff)

.footer-copyright__icons
	flex(, flex-end, center)

.footer-copyright__icon
	flex(center, center)
	margin-left: 5px

.footer-icon-whatsapp
.footer-icon-fb
.footer-icon-vk
.footer-icon-telegram
.footer-icon-inst
.footer-icon-tw
	size(25px, 25px)
	color: icon-color
	transition: color 200ms ease-in-out

.footer-icon-whatsapp:hover
.footer-icon-fb:hover
.footer-icon-vk:hover
.footer-icon-telegram:hover
.footer-icon-inst:hover
.footer-icon-tw:hover
	color: #fff
	stroke: icon-color

.footer-anchor
	flex(column, center, center)
	position: absolute
	top: 0
	right: 0
	size(90px, 42px)
	background-color: main-color
	border-radius: 25px
	transition: background-color 200ms ease-in-out

.footer-anchor:hover
	background-color: secondary-color

.footer-icon-arrow-top
	size(17px, 9px)
	color: #fff

.footer-anchor__text
	padding-top: 6px
	font(12px, 500, #fff)
	text-transform: uppercase

@media (max-width: 1199px)
	.footer-block
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)
		
	.footer-block__title-wrapper
		flex(row, space-between, center)
		cursor: pointer

	.footer-block__title
		display: flex
		margin: 0
		padding: 10px 0
		padding-right: 15px
		font(16px, 700, gray-dark-color)

	.footer-block__icon
		size(15px, 15px)
		color: gray-dark-color

	.footer-block__body
		padding-bottom: 10px

	.footer-connection__body
		padding-top: 10px

@media (min-width: 1200px)
	.footer-block__icon
		display: none
