.header
	background: #ffffff

.header-name
	display: flex
	justify-content: center
	border-bottom: 1px solid #EDEDED

@media (min-width: 768px)
	.header-info__phone_media
		display: none
	.header-info__phone
		display: flex
	.header-info-icons
		display: flex
	.header-info-logo
		padding: 15px 0px

@media (max-width: 991px) 
	.header-name__name
		display: none
	.header-info__phone
		font-size: 20px
	.header-nav-menu
		width: 720px

@media (min-width: 992px) 
	.header-info__phone
		font-size: 24px 
@media (max-width: 1199px)
	.header-nav-menu-drop
		width: 100%
		left: 0
		
@media (min-width: 1200px) 
	.header-nav-menu-drop
		width: 120%
		left: -10%

@media (max-width: 1280px)
	.header-nav-menu
		width: 720px
		
@media (max-width: 767px)
	.header-info__phone_media
		display: flex
		justify-content: center
		align-items: center
		padding: 5px 0px
	.header-name__menu
		display: none
	.header-info__phone
		display: none
	.header-info-logo
		padding: 10px 20px 10px 0px
	.header-nav-menu
		width: 100%


.header-name__name
	font-size: 13px
	color: #89899a
	padding: 5px 0px

.header-name__name_h
	font-size: 13px
	margin: 0px
	font-weight: normal

.header-name__menu
	padding: 5px 0px

.header-name__list
	display: flex
	justify-content: flex-end
	margin: 0
	list-style-type: none

.header-name__item
	padding-left: 10px
	font-size: 13px
	color: #89899a

.header-name__item_h
	margin: 0px
	font-size: 13px
	font-weight: normal

.header-info__phone
	justify-content: center
	align-items: center

.header-info__phone_color
	color: #89899a


.header-info-search
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center

.header-info-search_flex
	display: flex

.header-info-search__input
	position: relative
	height: 35px
	padding-left: 20px
	text-transform: uppercase
	font-size: 13px
	border: 1px solid #ededed
	border-radius: 22px
	background: #ededed
	color: #89899a
	transition: background-color 200ms ease-in-out

.header-info-search__input:hover,
.header-info-search__input:focus
	background: #fff

.header-info-search__input:active
	border: none

.header-info-search__button
	position: absolute
	right: 5px
	top: 4px
	font-size: 23px
	border: none 
	background: none 
	color: #89899a
	cursor: pointer


.header-info-icons
	justify-content: center
	align-items: center

.header-info-icons__item
	padding-left: 10px
	color: #89899a
	transition: color 200ms ease-in-out

.header-info-search__button
	transition: color 200ms ease-in-out

.header-info-icons__item:hover,
.header-info-search__button:hover
	color: #1db6ca

@media(max-width: 767px)
	.header-info-icons
		position: absolute
		top: 94px
		right: 0px
		z-index: 1
	.header-info-icons__item
		font-size: 26px
		color: #fff
	.header-info-icons__item:hover
		color: #fff

.header-nav
	display: flex
	background: #FFE3E0

.header-nav-menu
	height: 56px

.header-nav-menu__link
	display: none

.header-nav-menu__list
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	height: 100%

.header-nav-menu__item
	display: flex
	justify-content: flex-start
	align-items: center
	flex-wrap: nowrap
	height: 100%
	padding: 0px 8px
	font-size: 13px
	text-transform: uppercase
	font-weight: 400
	color: #4e2520
	list-style-type: none

.header-nav-menu__item_i
	padding-left: 3px
	font-size: 12px
	color: #8B4339

.header-nav-menu_drop:hover .header-nav-menu-drop,
.header-nav-menu_drop:hover .header-nav-menu__item
	display: flex
	color: #42201B

.header-nav-menu_drop:hover
	background: #FFCAC4

.header-nav-menu_drop
	display: flex
	justify-content: center
	height: 100%
	transition: background-color 200ms ease-in-out


.header-nav-menu-drop
	display: none
	position: absolute
	top: 100%
	z-index: 200
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px 0px
	background: white
	
.header-nav-menu-drop_padding
	padding: 40px 0px

.header-nav-menu-drop__list-header
	display: block
	padding-bottom: 10px
	font-size: 15px
	font-weight: 700
	color: #28282f

.header-nav-menu-drop__list
	padding-right: 5px
	list-style-type: none

.header-nav-menu-drop__item
	display: block
	padding: 4px 0px
	font-family: 'Open-Sans', sans-serif
	font-size: 13px
	color: #4b4b58

.header-nav-menu__wrap
	display: flex
	flex-direction: row
	align-items: center

.header-nav-menu__item_i1
	display: none


@media (max-width: 767px)
	.header-nav-menu__list
		// display: none
		flex-direction: column
		position: absolute
		top: 100%
		left: 0px
		height: auto
		width 100%
		align-items: start
		background: white
		z-index: 200
	.header-nav-menu__link
		display: flex
		align-items: center
		padding: 0px 20px
		height: 56px
		width: 140px
		cursor: pointer
		font-family: 'Open-Sans', sans-serif
		font-size: 14px
		font-weight: 600
		text-transform: uppercase
		transition: background-color 200ms ease-in-out
	.header-nav-menu__wrap:hover,
	.header-nav-menu__link:hover
		background-color: #FFCAC4
	.header-nav-menu__link_i1
		padding-right: 10px
		font-size: 24px
	.header-nav-menu__link_i2
		padding-left: 5px
		font-size: 16px
	.header-nav-menu_drop
		width: 100%
		display: flex
		flex-direction: column
	.header-nav-menu-drop
		display: flex
		position: relative
		box-shadow: none
	.header-nav-menu-drop__list
		display: flex
		flex-direction: column
		padding: 0px 0px 15px 0px
	.header-nav-menu-drop__item
		padding-left: 20px
		color: #1DB6CA
	.header-nav-menu-drop_padding
		display: flex
		flex-direction: column
		padding: 0px
	.header-nav-menu__wrap
		display: flex
		flex-direction: row
		height: 48px
		width: 100%
		padding: 0px
		border-top: solid 1px #FFCAC4
		background-color: #FFFAFA
		transition: background-color 200ms ease-in-out
	.header-nav-menu-drop__wrap
		display: flex
		flex-direction: row
		align-items: center
		height: 48px
		width: 100%
		padding: 0px
		border-top: solid 1px #ededed
		background-color: #fff
	.header-nav-menu__item
		width: 100%
		padding: 0px 0px 0px 20px
		font-family: 'Open-Sans', sans-serif
		font-size: 14px
		color: #000
	.header-nav-menu-drop__list-header
		height: 100%
		width: 100%
		padding: 0px 0px 0px 20px
		font-family: 'Open-Sans', sans-serif
		font-size: 12px
		font-weight: 400
		line-height: 48px
		text-transform: uppercase
		color: #000
		transition: color 200ms ease-in-out
	.header-nav-menu__item_i,
	.header-nav-menu-drop__list-header_i
		height: 48px
		width: 50px
		padding: 0px
		line-height: 48px
		text-align: center
		font-size: 18px
		cursor: pointer
	.header-nav-menu__item_i
		color: #fff
	.header-nav-menu-drop__list-header_i
		color: #bfbfbf
	.header-nav-menu__item_i1
		display: flex
		padding-right: 10px
		font-size: 24px
		color: #a8a8a8
	.accordion-active
		background-color: #FFCAC4
	.icon-accordion-active
		background-color: #FFD5D1
	.sub-accordion-active
		background-color: #E0E0E0
	.header-nav-menu-drop__list-header:hover
		color: #1DB6CA
		
