.header
	background: #ffffff

.header-frame
	height: 30px
	background-color: #e9e7a1

.header-title
	flex(row, center, stretch)
	height: 32px
	border-bottom: 1px solid #EDEDED
	background-color: #fafaea

.header-title_height
	height: 176px

@media (min-width: 768px)
	.header-info-phone__media
		display: none
	.header-info-phone
		display: flex
	.header-info-icons
		display: flex

@media (max-width: 991px) 
	.header-info-phone
		font-size: 20px
	.menu
		width: 720px

@media (min-width: 992px) 
	.header-info-phone
		font-size: 24px 
@media (max-width: 1199px)
	.menu-drop
		width: 100%
		left: 0
		
@media (min-width: 1200px) 
	.menu-drop
		width: 120%
		left: -10%

@media (max-width: 1280px)
	.menu
		width: 720px
		
@media (max-width: 767px)
	.header-info-phone__media
		flex(row, center, center)
		padding: 5px 0px
	.header-title__menu
		display: none
	.header-info-phone
		display: none
	.menu
		width: 100%

.header-title__menu
	flex(row, , center)

.header-title__list
	flex(row, flex-end)
	margin: 0
	list-style-type: none

.header-title__item
	padding-left: 20px

.header-title__item_h
	margin: 0px
	font(14px, 100)

.header-info
	flex(,,center)
	height: 110px

.header-info-pers-area
.header-info-basket
	flex()

.header-info-pers-area__link
.header-info-basket__link
	flex(,,center)

.header-info-pers-area__text
.header-info-basket__text
	padding-left: 10px
	font(14px, 100)
	span
		font-weight: 700

.icon-pers
	size(20px, 20px)

.icon-basket
	size(22px, 22px)

.header-info-phone
	justify-content: space-between
	align-items: center

.header-info-phone__number
	color: gray-dark-color
	span
		color: main-color

.header-info-phone__link
	padding-left: 15px

.header-info-phone__link_proportions
	flex(,center, center)
	size(170px, 40px)
	background-color: main-color
	border-radius: (@height / 2)

.header-info-phone__link_text
	font(14px, 500, #fff)
	text-transform: uppercase

.header-info-search
	flex(row, center, center)
	max-width: 280px


.header-info-search__input
	position: relative
	height: 40px
	padding-left: 20px
	font(14px, 100, stroke-color)
	border: 1px solid stroke-color
	border-radius: (@height / 2)
	background: #fff
	transition: background-color 200ms ease-in-out

.header-info-search__input::placeholder
	font(14px, 100, stroke-color)

.icon-button-search
	size(30px, 30px)

.header-info-search__button
	position: absolute
	right: 0px
	top: 4px
	border: none 
	background: none 
	color: gray
	cursor: pointer


.header-info-icons
	justify-content: center
	align-items: center

.header-info-icons__item
	padding-left: 10px
	color: gray
	transition: color 200ms ease-in-out

.header-info-search__button
	transition: color 200ms ease-in-out

.header-info-icons__item:hover,
.header-info-search__button:hover
	color: blue-light

@media(max-width: 767px)
	.header-info-icons
		position: absolute
		top: 73px
		right: 0px
		z-index: 1
	.header-info-icons__item
		font-size: 26px
		color: #fff
	.header-info-icons__item:hover
		color: #fff

.header-nav
	display: flex
	height: 80px
	background: linear-gradient(to bottom, #f5f9d6, #f9fce7)

.menu
	flex(, flex-start, center)
	position: relative
	height: 80px

.menu::before
.menu::after
	content: ''
	position: absolute
	size(50%, 15px)
	bottom: -25px
	left: 110px
	max-width: 400px
	box-shadow: 0 -15px 15px 5px rgba(0,0,0,0.035)
	transform: rotate(3deg)
	z-index: 1
.menu::after
	transform: rotate(-3deg)
	right: 110px
	left: auto

.menu-link
	display: none

.menu-logo
	flex()
	size(229px, 53px)
	position: relative

.menu-logo__link
	position: absolute
	size(229px, 53px)
	top: 0
	left: 0
	z-index: 200

.menu-logo_shadow
	position: absolute
	size(100px, 17px)
	// ставим источник тени на середину лого
	// 53/2 - 17/2
	top: 18px 
	// 229/2 - 100/2
	left: 64px
	border-radius: 50%
	background: #fff
	box-shadow: 0px 0px 120px 40px rgba(255, 255, 255, 1)
	z-index: 0

.icon-logo
	size(229px, 53px)
	z-index: 100

.menu__list
	flex(row, flex-start, center)
	height: 100%
	padding-left: 20px

.menu-item
	flex(row, flex-start, center)
	flex-wrap: nowrap
	height: 100%
	padding: 0px 15px
	font(12px)
	text-transform: uppercase
	list-style-type: none

.menu-item__icon2
	padding-left: 3px
	font-size: 12px
	color: #8B4339

.menu_drop:hover .menu-drop,
.menu_drop:hover .menu-item
	display: flex
	// color: #42201B

.menu_drop:hover
	background: #F5F9D6

.menu_drop
	flex(row, center)
	height: 100%
	position: relative
	transition: background-color 200ms ease-in-out


.menu-drop
	display: none
	position: absolute
	top: 100%
	width: 570px
	min-height: 420px
	background: white
	border: solid 1px stroke-color
	z-index: 200

.menu-drop::after
.menu-drop::before
	content: ''
	position: absolute
	size(0, 0)
	top: -12px
	border-style: solid
	border-width: 0 12px 12px 12px
	border-color: transparent transparent #ffffff transparent
	z-index: 200

.menu-drop::before
	top: -13px
	border-color: transparent transparent stroke-color transparent

.menu-drop__container
	flex(column)

.menu-drop__title
	flex(row, space-between, center)
	padding: 36px 0 15px 0
	border-bottom: solid 1px stroke-color

.menu-drop__catalog
	font(15px, 500)
	text-transform: uppercase

.menu-drop__see-all
	font(14px)
	text-transform: uppercase

.menu-drop__body
	flex(column, flex-start)
	position: relative
	width: 50%
	margin: 15px 0 25px 0
	padding: 5px 0 25px 0
	border-right: solid 1px stroke-color

.menu-drop__body_hover:hover .menu-drop__list
	flex(column, flex-start)

.menu-drop__body_hover:hover ~ .menu-drop-img
	display: none


.menu-drop__list-header
	display: block
	padding: 8px 0
	font(16px,, #464647)

.menu-drop__list
	display: none
	position: absolute
	top: 0
	right: -100%
	width: 100%
	min-height: 200px
	padding: 5px 5px 0 40px
	list-style-type: none

.menu-drop__item
	display: block
	position: relative
	padding: 8px 0px
	font(16px, 100, #676767)

.menu-drop__item:hover
	color: main-color

.menu-drop__item:hover::before
	position: absolute
	content: ''
	size(24px, 19px)
	fill: black
	top: 8px
	left: -30px
	background-image: url('../images/logo-head.svg')
	background-repeat: no-repeat

.menu__wrap
	flex(row, flex-start, center)

.menu-drop__wrap
	position: relative

.menu-drop__body_hover:hover
	background-color: #e9e7a0

.menu-drop__body_hover:hover .menu-drop__wrap::before
.menu-drop__body_hover:hover .menu-drop__wrap::after
	content: ''
	position: absolute
	size(0, 0)
	top: 5px
	right: -1px
	border-style: solid
	border-width: 12px 12px 12px 0
	border-color: transparent #fff transparent transparent
	z-index: 200

.menu-drop__body_hover:hover .menu-drop__wrap::before
	right: 0px
	border-color: transparent stroke-color transparent transparent

.menu-drop-img
	flex(column)
	position: absolute
	top: 0
	right: -100%

.menu-drop-img__face
	size(200px, 200px)
	background-image: url(../images/cream.jpg)
	background-size: 100% 100%
	background-repeat: no-repeat

.menu-drop-img__sale
	flex(, center, center)
	size(200px, 100px)
	padding: 0 20px
	background-color: #e9e7a0

.menu-drop-img__text
	font(14px)

.menu-item__icon1
	display: none

.header-info__wrapper
	flex(row, space-between, center)

.header-info_fixed
	position: fixed
	top: 0
	height: 61px
	background-color: #fff
	z-index: 2

.header-info_shadow
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3)

.header-nav_fixed
	position: fixed
	top: 61px
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.4), 0 3px 10px 0 rgba(0,0,0,0.3)
	z-index: 1

// .header-info__icon
// 	padding: 0
// 	width: 48px
// 	height: 48px
// 	font-size: 28px
// 	line-height: 48px
// 	background-color: #EDEDED
// 	border-radius: 50%
// 	color: rgba(0, 0, 0, 0.54)
// 	cursor: pointer
// 	transition: color 200ms ease-in-out
// 	transition: transform 200ms ease-in-out

// .header-info__icon_active
// 	transform: rotate(90deg)

// .header-info__icon:hover
// 	color: blue-light


@media (max-width: 767px)
	.menu__list
		// display: none
		flex-direction: column
		position: absolute
		top: 100%
		left: 0px
		size(100%, auto)
		align-items: start
		background: white
		z-index: 200
	.menu-link
		display: flex
		align-items: center
		size(140px, 80px)
		padding: 0px 20px
		cursor: pointer
		font-size: 14px
		font-weight: 500
		text-transform: uppercase
		transition: background-color 200ms ease-in-out
	.menu__wrap:hover,
	.menu-link:hover
		background-color: red-light
	.menu-link__icon1
		padding-right: 10px
		font-size: 24px
	.menu-link__icon2
		padding-left: 5px
		font-size: 16px
	.menu_drop
		width: 100%
		display: flex
		flex-direction: column
	.menu-drop
		display: flex
		position: relative
		box-shadow: none
	.menu-drop__list
		display: flex
		flex-direction: column
		padding: 0px 0px 15px 0px
	.menu-drop__item
		padding-left: 20px
		color: blue-light
	.menu-drop__body
		display: flex
		flex-direction: column
		padding: 0px
	.menu__wrap
		display: flex
		flex-direction: row
		size(100%, 48px)
		padding: 0px
		border-top: solid 1px red-light
		background-color: #FFFAFA
		transition: background-color 200ms ease-in-out
	.menu-drop__wrap
		display: flex
		flex-direction: row
		align-items: center
		size(100%, 48px)
		padding: 0px
		border-top: solid 1px #ededed
		background-color: #fff
	.menu-item
		width: 100%
		padding: 0px 0px 0px 20px
		font-size: 14px
		color: #000
	.menu-drop__list-header
		size(100%, 100%)
		padding: 0px 0px 0px 20px
		font(12px, 300, #000)
		line-height: 48px
		text-transform: uppercase
		transition: color 200ms ease-in-out
	.menu-item__icon2,
	.menu-drop__icon
		size(50px, 48px)
		padding: 0px
		line-height: 48px
		text-align: center
		font-size: 18px
		cursor: pointer
	.menu-item__icon2
		color: #fff
	.menu-drop__icon
		color: #bfbfbf
	.menu-item__icon1
		display: flex
		padding-right: 10px
		font-size: 24px
		color: #a8a8a8
	.accordion-active
		background-color: red-light
	.icon-accordion-active
		background-color: #FFD5D1
	.sub-accordion-active
		background-color: #E0E0E0
	.menu-drop__list-header:hover
		color: blue-light
		
