.header
	background: #ffffff

.header-frame
	height: 30px
	background-color: #e9e7a1

.header-title
	flex(row, center, stretch)
	height: 32px
	border-bottom: 1px solid #EDEDED
	background-color: #fafaea

.header-title_height
	height: 176px

@media (min-width: 768px)
	.header-info-phone__media
		display: none
	.header-info-phone
		display: flex
	.header-info-icons
		display: flex

@media (max-width: 991px) 
	.header-info-phone
		font-size: 20px
	.menu
		width: 720px

@media (min-width: 992px) 
	.header-info-phone
		font-size: 24px 
@media (max-width: 1199px)
	.menu-drop
		width: 100%
		left: 0
		
@media (min-width: 1200px) 
	.menu-drop
		width: 120%
		left: -10%

@media (max-width: 1280px)
	.menu
		width: 720px
		
@media (max-width: 767px)
	.header-info-phone__media
		flex(row, center, center)
		padding: 5px 0px
	.header-title__menu
		display: none
	.header-info-phone
		display: none
	.menu
		width: 100%

.header-title__menu
	flex(row, , center)

.header-title__list
	flex(row, flex-end)
	margin: 0
	list-style-type: none

.header-title__item
	padding-left: 20px
	font-size: 14px
	color: gray-dark-color

.header-title__item_h
	margin: 0px
	font-size: 14px
	font-weight: 100

.header-info
	flex(,,center)
	height: 110px

.header-info-pers-area
.header-info-basket
	flex()

.header-info-pers-area__link
.header-info-basket__link
	flex(,,center)

.header-info-pers-area__text
.header-info-basket__text
	padding-left: 10px
	font-size: 14px
	font-weight: 100
	color: gray-dark-color
	span
		font-weight: 700

.icon-pers
	height: 20px
	width: 20px

.icon-basket
	height: 22px
	width: 22px

.header-info-phone
	justify-content: space-between
	align-items: center

.header-info-phone__number
	color: gray-dark-color
	span
		color: main-color

.header-info-phone__link
	padding-left: 15px

.header-info-phone__link_proportions
	flex(,center, center)
	height: 40px
	width: 170px
	background-color: main-color
	border-radius: (@height / 2)

.header-info-phone__link_text
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	color: #fff

.header-info-search
	flex(row, center, center)
	max-width: 280px


.header-info-search__input
	position: relative
	height: 40px
	padding-left: 20px
	font-size: 14px
	border: 1px solid stroke-color
	border-radius: (@height / 2)
	background: #fff
	color: stroke-color
	transition: background-color 200ms ease-in-out

.header-info-search__input::placeholder
	font-size: 14px
	font-weight: 100
	color: stroke-color

.icon-button-search
	width: 30px
	height: 30px

.header-info-search__button
	position: absolute
	right: 0px
	top: 4px
	border: none 
	background: none 
	color: gray
	cursor: pointer


.header-info-icons
	justify-content: center
	align-items: center

.header-info-icons__item
	padding-left: 10px
	color: gray
	transition: color 200ms ease-in-out

.header-info-search__button
	transition: color 200ms ease-in-out

.header-info-icons__item:hover,
.header-info-search__button:hover
	color: blue-light

@media(max-width: 767px)
	.header-info-icons
		position: absolute
		top: 73px
		right: 0px
		z-index: 1
	.header-info-icons__item
		font-size: 26px
		color: #fff
	.header-info-icons__item:hover
		color: #fff

.header-nav
	display: flex
	height: 80px
	background: linear-gradient(to bottom, #f5f9d6, #f9fce7)

.menu
	flex(, flex-start, center)
	height: 80px

.menu-link
	display: none

.menu-logo
	flex()
	height: 53px
	width: 229px
	position: relative

.menu-logo__link
	position: absolute
	top: 0
	left: 0
	height: 53px
	width: 229px
	z-index: 200

.menu-logo_shadow
	position: absolute
	// ставим источник тени на середину лого
	// 53/2 - 17/2
	top: 18px 
	// 229/2 - 100/2
	left: 64px
	height: 17px
	width: 100px
	border-radius: 50%
	background: #fff
	box-shadow: 0px 0px 120px 40px rgba(255, 255, 255, 1)
	z-index: 0

.icon-logo
	height: 53px
	width: 229px
	z-index: 100

.menu__list
	flex(row, flex-start, center)
	height: 100%
	padding-left: 20px

.menu-item
	flex(row, flex-start, center)
	flex-wrap: nowrap
	height: 100%
	padding: 0px 15px
	font-size: 12px
	text-transform: uppercase
	font-weight: 300
	color: gray-dark-color
	list-style-type: none

.menu-item__icon2
	padding-left: 3px
	font-size: 12px
	color: #8B4339

.menu_drop:hover .menu-drop,
.menu_drop:hover .menu-item
	display: flex
	// color: #42201B

.menu_drop:hover
	background: #F5F9D6

.menu_drop
	flex(row, center)
	height: 100%
	position: relative
	transition: background-color 200ms ease-in-out


.menu-drop
	display: none
	position: absolute
	top: 100%
	z-index: 200
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px 0px
	background: white
	
.menu-drop_padding
	padding: 40px 0px

.menu-drop__list-header
	display: block
	padding-bottom: 10px
	font-size: 15px
	font-weight: 700
	color: gray-darken

.menu-drop__list
	padding-right: 5px
	list-style-type: none

.menu-drop__item
	display: block
	padding: 4px 0px
	font-size: 13px
	color: #4b4b58

.menu__wrap
	flex(row, flex-start, center)

.menu-item__icon1
	display: none

.header-info__wrapper
	flex(row, space-between, center)

.header-info_fixed
	position: fixed
	top: 0
	height: 61px
	background-color: #fff
	z-index: 2

.header-info_shadow
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3)

.header-nav_fixed
	position: fixed
	top: 61px
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.4), 0 3px 10px 0 rgba(0,0,0,0.3)
	z-index: 1

// .header-info__icon
// 	padding: 0
// 	width: 48px
// 	height: 48px
// 	font-size: 28px
// 	line-height: 48px
// 	background-color: #EDEDED
// 	border-radius: 50%
// 	color: rgba(0, 0, 0, 0.54)
// 	cursor: pointer
// 	transition: color 200ms ease-in-out
// 	transition: transform 200ms ease-in-out

// .header-info__icon_active
// 	transform: rotate(90deg)

// .header-info__icon:hover
// 	color: blue-light


@media (max-width: 767px)
	.menu__list
		// display: none
		flex-direction: column
		position: absolute
		top: 100%
		left: 0px
		height: auto
		width 100%
		align-items: start
		background: white
		z-index: 200
	.menu-link
		display: flex
		align-items: center
		padding: 0px 20px
		height: 80px
		width: 140px
		cursor: pointer
		font-size: 14px
		font-weight: 500
		text-transform: uppercase
		transition: background-color 200ms ease-in-out
	.menu__wrap:hover,
	.menu-link:hover
		background-color: red-light
	.menu-link__icon1
		padding-right: 10px
		font-size: 24px
	.menu-link__icon2
		padding-left: 5px
		font-size: 16px
	.menu_drop
		width: 100%
		display: flex
		flex-direction: column
	.menu-drop
		display: flex
		position: relative
		box-shadow: none
	.menu-drop__list
		display: flex
		flex-direction: column
		padding: 0px 0px 15px 0px
	.menu-drop__item
		padding-left: 20px
		color: blue-light
	.menu-drop_padding
		display: flex
		flex-direction: column
		padding: 0px
	.menu__wrap
		display: flex
		flex-direction: row
		height: 48px
		width: 100%
		padding: 0px
		border-top: solid 1px red-light
		background-color: #FFFAFA
		transition: background-color 200ms ease-in-out
	.menu-drop__wrap
		display: flex
		flex-direction: row
		align-items: center
		height: 48px
		width: 100%
		padding: 0px
		border-top: solid 1px #ededed
		background-color: #fff
	.menu-item
		width: 100%
		padding: 0px 0px 0px 20px
		font-size: 14px
		color: #000
	.menu-drop__list-header
		height: 100%
		width: 100%
		padding: 0px 0px 0px 20px
		font-size: 12px
		font-weight: 400
		line-height: 48px
		text-transform: uppercase
		color: #000
		transition: color 200ms ease-in-out
	.menu-item__icon2,
	.menu-drop__icon
		height: 48px
		width: 50px
		padding: 0px
		line-height: 48px
		text-align: center
		font-size: 18px
		cursor: pointer
	.menu-item__icon2
		color: #fff
	.menu-drop__icon
		color: #bfbfbf
	.menu-item__icon1
		display: flex
		padding-right: 10px
		font-size: 24px
		color: #a8a8a8
	.accordion-active
		background-color: red-light
	.icon-accordion-active
		background-color: #FFD5D1
	.sub-accordion-active
		background-color: #E0E0E0
	.menu-drop__list-header:hover
		color: blue-light
		
