#icon-arrow-back
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-arrow-bottom
	.cls-1
		fill: currentColor

#icon-arrow-left
	.cls-1
		fill: currentColor

#icon-arrow-right
	.cls-1
		fill: currentColor

#icon-arrow-top
	.cls-1
		fill: currentColor

#icon-basket
	fill: currentColor

#icon-block
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-button-arrow-bottom
	.cls-1
		fill: #95a700
	.cls-2
		fill: #fff

#icon-button-arrow-top-bottom
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-button-basket
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-button-cross
	.cls-1
		fill: #95a700
	.cls-2
		fill: #fff

#icon-button-heart
	.cls-1
		fill: #fff
	.cls-2
		fill: #e9e7a1
	.cls-3
		fill: #333

#icon-button-minus
	.cls-1
		fill: #95a700
	.cls-2
		fill: #fff

#icon-button-plus
	.cls-1
		fill: #95a700
	.cls-2
		fill: #fff

#icon-button-search
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff
		opacity: .89

#icon-heart
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-heart-3
	.cls-1
		fill: none
		stroke: #4d4d4d
		stroke-miterlimit: 10
	.cls-2
		fill: currentColor // при наведении 4d4d4d, по дефолту fff

#icon-open-book
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-telegram
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-fb
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-inst
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-menu
	fill: currentColor

#icon-message
	fill: #c2c4c5

#icon-ok
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fefefd

#icon-tw
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-vk
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-whatsapp
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-youtube
	.cls-1
		fill: currentColor
	.cls-2
		fill: #fff

#icon-info
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-like
	.cls-1
		fill: #f3f3f5
	.cls-2
		fill: currentColor

#icon-location
	fill: #c2c4c5

#icon-lock
	{}

#icon-logo
	.cls-1
		fill: #96a700
	.cls-2
		fill: #ccce4f
	.cls-3
		fill: #4c393a
	.cls-4
		fill: #b4a098
	.cls-5
		fill: #d2aeb3

#icon-pers
	.cls-1
		fill: #c2c4c5

#icon-pers-info
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-phone
	fill: #c2c4c5

#icon-radio-button
	.cls-1
		fill: #f3f3f3
	.cls-2
		fill: #c2c4c5
	.cls-3
		fill: #95a700

#icon-shield
	.cls-1
		fill: none
		stroke: #c2c4c5
		stroke-miterlimit: 10

#icon-square
	.cls-1
		fill: #c2c4c5

#icon-star
	.cls-1
		fill: #f8c200

#icon-envelope
	.cls-1
		fill: currentColor

#icon-angle-bottom
#icon-angle-left
#icon-angle-right
#icon-angle-top
#icon-minus
#icon-plus
	fill: currentColor