.info
	flex(, center)
	width: 100%
	background-color: #fafaea

.info__wrapper
	margin: 80px 0
	padding: 15px
	box-shadow: 0px 0px 29px 7px rgba(0, 0, 0, .13)
	background-color: #fff

.info__body
	flex(column, center, center)
	width: 100%
	border: 1px solid #e8f2d9

.info__title
	padding: 30px 0 20px 0
	font(36px)

.info__line
	width: 42px
	border-bottom: 1px solid #e8f2d9

.info__text
	padding: 25px 50px
	font(14px, 100)
	text-align: justify