.new-products
	flex(, center)
	width: 100%
	background-color: #fff
	z-index: 2

.new-products__wrapper
	padding: 50px 0

.new-product
	flex(column, center, center)
	padding: 15px

.new-product__img
	size(100%, 322px)
	background-position: 100%
	background-size: cover

.new-product__wrapper
	flex(column, center, center)
	width: 100%
	border: 1px solid stroke-color
	border-top: none

.new-product__title
	font(18px, 700)
	padding: 20px 15px 20px 15px
	text-align: center

.new-product__text
	font(14px)
	text-align: center
	padding: 0 15px 20px 15px