.main-content
	flex(column, flex-start, center)
	padding: 20px 0 40px 0
	min-width: 290px
	background: #fff

.main-nav
	flex(, center)
	padding-bottom: 20px
	border-bottom: solid 1px stroke-color

.main-nav__wrapper
	flex(, space-between)
	width: 100%

.main-nav__list
	flex(row, center)
	flex-wrap: wrap
	list-style-type: none
	margin: 0

.main-nav_center
	padding-right: 10px

.main-nav__item
	flex(row, flex-start, center)
	// height: 50px
	padding: 8px 20px
	border: 2px solid #fff
	border-radius: 20px
	font-size: 16px
	font-weight: 300
	// line-height: 39px
	text-transform: uppercase
	color: #4d4d4d
	transition: color 200ms ease-in-out
	cursor: pointer

// .main-nav__item:hover
// 	color: blue-light

.main-nav__item_active
// .main-nav__item_active:hover
	border: 2px solid #eeeeb1

.main-nav__selection
	flex(row, center, center)
	width: 240px
	height: 40px
	background-color: main-color
	border-radius: 20px

.main-nav__selection:hover
	background-color: secondary-color

.icon-menu
	width: 20px
	height: 20px

.main-nav__selection_text
	padding-left: 12px
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	color: #fff

.button-left,
.button-right
	flex(row, center, center)
	color: #d4d4d4
	cursor: pointer

.carousel
	overflow: hidden

.products
	padding-top: 80px

.products-wrapper
	display: flex
	flex-wrap: nowrap
	transition: transform 500ms ease-in-out

.products__item
	padding: 0 15px 30px 15px

.product
	flex(column, center, center)
	position: relative
	padding: 25px
	border: solid 1px stroke-color


.product_img
	width: 100%
	height: 230px
	margin-bottom: 10px
	background-position: center
	background-size: cover
	background-repeat: no-repeat

.product__info
	flex(column, flex-start, center)

.product__name
	display: block
	height: 45px
	margin-bottom: 15px
	font-size: 13px
	font-weight: 500
	text-align: start
	color: gray-dark-color
	overflow: hidden

.product__price-before
	font-size: 14px
	font-weight: 300
	color: gray-dark-color

.product__price-before-strike
	text-decoration: line-through
	color: main-color

.product__price-after
	font-size: 22px
	font-weight: 500
	color: gray-dark-color

.product-sale
	flex(column, space-around, center)

.product-sale__red
	sale(#F94141)

.product-sale__orange
	sale(#FC7640)

.product-sale__light-blue
	sale(#52DBD1)

.product-sale__blue
	sale(#27ABE0)

.product-sale__purple
	sale(#BC48B9)



.product__inbasket-icon
	flex(, flex-end, center)

.icon-button-basket
	width: 40px
	height: 40px
	color: main-color

.icon-button-basket:hover
	color: secondary-color

.product__inbasket
	width: 100%
	padding-top: 11px

.product__inbasket_buy
	flex(, center, center)
	width: 100%
	height: 40px
	text-transform: uppercase
	font-size: 14px
	font-weight: 500
	border-radius: 20px
	background-color: main-color
	color: #fff
	
.product__inbasket_buy:hover
	background-color: secondary-color

.product__favorites
	position: absolute
	top: 25px
	right: 25px

.icon-button-heart
	width: 42px
	height: 42px

.products__link-wrapper
	flex(, center)
	position: relative
	width: 100%
	padding-top: 15px

.products__link
	flex(, center, center)
	width: 154px
	height: 36px
	font-size: 14px
	font-weight: 100
	border-radius: 18px
	background-color: main-color
	color: #fff
	z-index: 2

.products__link:hover
	background-color: secondary-color

.products__link-wrapper::before
	content: ''
	position: absolute
	top: 34px
	border-top: solid 1px main-color
	width: 100%
	z-index: 1
