.product-info
	padding: 0

.product-info__nav
	flex(, space-between)
	padding: 20px 0 50px

.product-info__body
	flex()

.product-info__left-side-wrapper
	padding-right: 15px

.product-info__right-side-wrapper
	padding-left: 15px

.product-info__left-side-wrapper
.product-info__right-side-wrapper
	flex(column)

.product-info__main-img
	height: 560px
	border: solid 1px stroke-color
	background-position: center
	background-size: cover
	background-repeat: no-repeat

.product-info__sub-images-wrapper
	flex()
	padding-bottom: 30px

.product-info__sub-img-wrapper
	padding-top: 30px

.product-info__sub-img
	height: 175px
	border: solid 1px stroke-color
	background-position: center
	background-size: cover
	background-repeat: no-repeat

.product-info__sub-img-wrapper_padding-right-20
	padding-right: 20px

.product-info__sub-img-wrapper_padding-left-20
	padding-left: 20px

.product-info__sub-img-wrapper_padding-side-10
	padding-left: 10px
	padding-right: 10px

.product-info__second-info-wrapper
	flex(column)

.product-info__description-title
.product-info__options-title
.product-info__second-info-title
	width: 100%
	padding: 12px 15px
	font(14px, 300)
	background-color: #f3f3f3
	border: solid 1px stroke-color
	text-transform: uppercase

.product-info__second-info-text
	padding-top: 30px
	font(15px, 100)

.product-info__article
	font(15px, 100)

.product-info__title
	padding: 20px 0
	font(24px, 500)
	text-transform: uppercase
	border-bottom: solid 1px stroke-color

.product-info__actions
	flex(column)
	padding: 30px 0

.product-info__actions-row
	flex(,, center)
	padding-bottom: 25px

.product-info__price
	font(36px, 500)

.product-info__bonus
	font(14px, 100)

.product-info__quantity
	font(14px, 100)
	text-transform: uppercase

.product-info__quantity-count
	flex()

.product-info__quantity-input
.product-info__quantity-minus
.product-info__quantity-plus
	flex(, center, center)
	margin-right: -1px
	size(40px, 40px)
	cursor: pointer
	border: solid 1px stroke-color

.product-info__quantity-minus
	border-radius: 20px 0 0 20px

.product-info__quantity-plus
	border-radius: 0 20px 20px 0

.product-info__quantity-icon
	size(10px, 10px)
	color: main-color

.product-info__options
	flex(column)
	padding: 30px 0

.product-info__options-row
	flex()
	padding-bottom: 25px

.product-info__options-key
	font(14px, 100)
	text-transform: uppercase

.product-info__options-value
	font(15px, 100)

.product-info__social-network
	flex(, space-between)
	margin-bottom: 30px
	padding: 15px 0
	border-top: solid 1px stroke-color
	border-bottom: solid 1px stroke-color

.product-info__like
	flex(,, center)

.product-info__like-text
	font(14px)
	padding-right: 20px
	text-transform: uppercase

.product-info__like-icon
	size(38px, 38px)
	color: main-color
	cursor: pointer

.product-info__like-icon:hover
	color: secondary-color

.product-info__social-network-icons-wrapper
	flex()

.product-info__social-network-icon-wrapper
	padding: 5px
	
.product-info__social-network-icon
	size(24px, 24px)
	color: main-color
	cursor: pointer

.product-info__social-network-icon:hover
	color: secondary-color

.product-info__description
	padding: 30px 0
	font(15px, 100)

