@import 'vars.styl'
@import 'style.styl'

@import 'fonts.styl'
@import 'header.styl'
@import 'banner.styl'
@import 'products.styl'
@import 'discounts.styl'
@import 'newProducts.styl'
@import 'info.styl'
@import 'footer.styl'
@import 'icons.styl'
