/* 
  Переменные дозволительно писать без символов, но не все редакторы дают подсветку.
  Чтобы повысить поддерживаемость кода и выделить переменные, я бы предложил начинать их названия с символа $:
  - $fontsize
  - $head-color
  - $container-width
*/
fontsize = 16px

// colors
head-color = sidebar-color = #fff
body-color = #F0F0F0
head-text-color = #666

container-width = 1242px
