/* 
  Переменные дозволительно писать без символов, но не все редакторы дают подсветку.
  Чтобы повысить поддерживаемость кода и выделить переменные, я бы предложил начинать их названия с символа $:
  - $fontsize
  - $head-color
  - $container-width
*/
fontsize = 16px

// colors
head-color = sidebar-color = #fff
body-color = #fff
head-text-color = #666
product-name-color = #7a7a7a
basket-color = #7a7a7a

wrapper-size = 10000px
