<div class="catalog__sorting">
    <p class="catalog__sorting-text">Сортировка</p>
    <div class="o-sorting-select-wrapper">
        <select class="catalog__sorting-select o-sorting-select" data-req-name="sorting">
            <option class="catalog__sorting-item o-sorting-option" value="0">По умолчанию</option>
            <option class="catalog__sorting-item o-sorting-option" value="0">По возрастанию названия</option>
            <option class="catalog__sorting-item o-sorting-option" value="1">По убыванию названия</option>
            <option class="catalog__sorting-item o-sorting-option" value="2">По возрастанию цены</option>
            <option class="catalog__sorting-item o-sorting-option" value="3">По убыванию цены</option>
            <option class="catalog__sorting-item o-sorting-option" value="4">По новинкам</option>
        </select>
        <svg class="o-sorting-select-icon">
            <use xlink:href="#icon-button-arrow-top-bottom"></use>
        </svg>
    </div>
</div>