@model List<BannerViewModel>

<section class="main-section-banners container-fluid">
    <div class="banners container-fluid">
        <div class="banners-wrapper row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var banner = Model[i];
                string bgImage = $"/images/bg_img{i + 1}.png";    // TODO: banner.ImageUrl
                //string image = $"/images/{i + 1}.png";          // TODO: banner.ImageUrl
                string image = "/images/banner.jpg";

                <div class="banner container-fluid col-12" style="background-image: url(@image);">
                    <div class="banner_margin container-fluid justify-content-center">
                        <div class="banner-body row">
                            <div class="banner__content" style="background-color: #faffe4">
                                <h3 class="banner__title">@banner.Title</h3>
                                <div class="banner__text">@banner.Content</div>

                                @if (!string.IsNullOrEmpty(banner.ActionDate))
                                {
                                    <div class="banner__timer">@banner.ActionDate</div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="banners-buttons">
            <div id="moveBannerLeft" class="banners-button banners-button_left">
				<svg class="banners-buttons__angle-left">
					<use xlink:href="#icon-angle-left"></use>
				</svg>
            </div>
            <div id="moveBannerRight" class="banners-button banners-button_right">
				<svg class="banners-buttons__angle-right">
					<use xlink:href="#icon-angle-right"></use>
				</svg>
            </div>
        </div>
    </div>
</section>