@model List<MyTotto.Data.Models.Banner>

<section class="main-section-banners container-fluid">
    <div class="banners container-fluid">
        <div class="banners-wrapper row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var banner = Model[i];
                string bgImageBanner = $"/images/bg_img{banner.Id}.png";
                string imageBanner = $"/images/{banner.Id}.png";

                <div class="banner container-fluid col-12" style="background-image: url(@bgImageBanner);">
                    <div class="banner_margin container-fluid justify-content-center">
                        <div class="banner_width banner_direction row">
                            <div class="banner__wrapper col-md-6">
                                <img class="banner__img" src="@imageBanner" alt="">
                            </div>
                            <div class="banner__content col-12 col-md-6">
                                <h3 class="banner__title">@banner.Title</h3>
                                <div class="banner__content_description">@banner.Content</div>
                                @if (!string.IsNullOrWhiteSpace(banner.ButtonText))
                                {
                                    <a class="banner__content_link" href="#">@banner.ButtonText</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="banners-buttons">
            <div id="moveBannerLeft" class="banners-button banners-button_left">
                <i class="fas fa-angle-left fa-2x"></i>
            </div>
            <div id="moveBannerRight" class="banners-button banners-button_right">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>
    </div>
</section>