<section class="main-section-banners container-fluid">
    <div class="banners container-fluid">
        <div class="banners-wrapper row">
            <div class="banner container-fluid justify-content-center col-12" style="background-image: url(/images/bg_img1.png);">
                <div class="banner_padding container-fluid">
                    <div class="row">
                        <div class="banner__wrapper col-6">
                            <img class="banner__img" src="images/banners/1.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__content_description">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid justify-content-center col-12" style="background-image: url(/images/bg_img2.png);">
                <div class="banner_padding container-fluid">
                    <div class="row">
                        <div class="banner__wrapper col-6">
                            <img class="banner__img" src="images/banners/2.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__content_description">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid justify-content-center col-12" style="background-image: url(/images/bg_img3.png);">
                <div class="banner_padding container-fluid">
                    <div class="row">
                        <div class="banner__wrapper col-6">
                            <img class="banner__img" src="images/banners/3.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__content_description">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid justify-content-center col-12" style="background-image: url(/images/bg_img1.png);">
                <div class="banner_padding container-fluid">
                    <div class="row">
                        <div class="banner__wrapper col-6">
                            <img class="banner__img" src="images/banners/4.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__content_description">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banners-buttons">
            <div id="moveBannerLeft" class="banners-button banners-button_left">
                <i class="fas fa-angle-left fa-2x"></i>
            </div>
            <div id="moveBannerRight" class="banners-button banners-button_right">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>
    </div>
</section>