<section class="main-section-banners container-fluid">
    <div class="banners container-fluid">
        <div class="banners-wrapper row">
            <div class="banner__bg1 container-fluid justify-content-center col-12">
                <div class="banner container-fluid">
                    <div class="row">
                        <div class="banner__img col-6">
                            <img src="images/1.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h2 class="banner__content_h2">Бесплатная доставка</h2>
                            <div class="banner__content_text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_a" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__bg2 container-fluid justify-content-center col-12">
                <div class="banner container-fluid">
                    <div class="row">
                        <div class="banner__img col-6">
                            <img src="images/2.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h2 class="banner__content_h2">Бесплатная доставка</h2>
                            <div class="banner__content_text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_a" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__bg3 container-fluid justify-content-center col-12">
                <div class="banner container-fluid">
                    <div class="row">
                        <div class="banner__img col-6">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h2 class="banner__content_h2">Бесплатная доставка</h2>
                            <div class="banner__content_text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_a" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__bg4 container-fluid justify-content-center col-12">
                <div class="banner container-fluid">
                    <div class="row">
                        <div class="banner__img col-6">
                            <img src="images/4.png" alt="">
                        </div>
                        <div class="banner__content col-6">
                            <h2 class="banner__content_h2">Бесплатная доставка</h2>
                            <div class="banner__content_text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_a" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banners-buttons">
            <div class="banners-button-left">
                <i class="fas fa-angle-left fa-2x"></i>
            </div>
            <div class="banners-button-right">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>
    </div>
</section>