<section class="discounts">
	<div class="discounts__shadow-start"></div>
	<div class="cover">
		<div class="container-fluid">
			<div class="row align-items-start">
				<div class="discounts__wrapper col">
					<div class="discounts__img" style="background-image: url(images/discount-1.jpg)"></div>
					<p class="discounts__text">Скидка 20%<br> на косметикудля волос</p>
					<p class="discounts__promocode">Введите код HAIR20 при оформлении заказа</p>
				</div>
				<div class="discounts__wrapper discounts__wrapper_margin col">
					<div class="discounts__img" style="background-image: url(images/discount-2.jpg)"></div>
					<p class="discounts__text">Скидка 20%<br> на косметикудля волос</p>
					<p class="discounts__promocode">Введите код HAIR20 при оформлении заказа</p>
				</div>
				<div class="discounts__wrapper col">
					<div class="discounts__img" style="background-image: url(images/discount-3.jpg)"></div>
					<p class="discounts__text">Скидка 20%<br> на косметикудля волос</p>
					<p class="discounts__promocode">Введите код HAIR20 при оформлении заказа</p>
				</div>
			</div>
		</div>
	</div>
	<div class="discounts__shadow-end"></div>
</section>