<footer class="footer container-fluid">
	<div class="cover">
		<div class="container-fluid footer__wrapper">
			<div class="row">
				<div class="connection col-12 col-md-2">
					<div class="connection__title">Оставайтесь на связи</div>
					<div class="connection__body">
						<div class="connection__text">Подпишитесь на наши новости и узнавайте первыми о скидках</div>
						<form class="connection__form" action="">
							<input class="connection__input" type="text" value="Ваш E-mail">
							<button class="connection__button">
								<i class="connection__button_icon fas fa-play"></i>
							</button>
						</form>
					</div>
				</div>
				<div class="footer-block col-12 col-md-2">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Кабинет покупателя</h3>
						<i class="footer-block__icon fas fa-angle-down"></i>
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item"><a class="footer-block__link" href="">Войти</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Создать учётную запись</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-2">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Магазин</h3>
						<i class="footer-block__icon fas fa-angle-down"></i>
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item"><a class="footer-block__link" href="">Бонусные баллы</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Подарочные сертификаты</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Карта сайта</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-2">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Категории</h3>
						<i class="footer-block__icon fas fa-angle-down"></i>	
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Уход за телом</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Уход за лицом</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Уход за волосами</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Декоративная косметика</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Дом & семья</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Наборы</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">Бренды</a></li>
							<li class="footer-block__item categories-item"><a href="" class="footer-block__link">По компонентам</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-2">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Контакты</h3>
						<i class="footer-block__icon fas fa-angle-down"></i>
					</div>
					<div class="footer-block__body">
						<div class="contacts-text">
							г. Новосибирск,<br>
							8-800-700-04-58<br> (звонок бесплатный)<br>
							Пн-Вс 9.00 - 18.00
						</div>
						<ul class="footer-block__list">
							<li class="footer-block__item"><a href="" class="footer-block__link">mytottoru@yandex.ru</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Посмотреть на карте</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-2">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Соц. сети</h3>
						<i class="footer-block__icon fas fa-angle-down"></i>	
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item"><a href="" class="footer-block__link">Instagram</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">ВКонтакте</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">WhatsApp</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Telegram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="footer-copyright">
		<div class="cover footer-copyright__wrapper">
			<div class="footer-copyright__text">
				2005-2017 © My Totto — интернет-магазин корейской косметики. Создание сайта — 
				<a class="footer-copyright__link" href="">ksar.me</a>
			</div>
			<div class="footer-copyright__icons">
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-whatsapp">
						<use xlink:href="#icon-whatsapp"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-fb">
						<use xlink:href="#icon-fb"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-vk">
						<use xlink:href="#icon-vk"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-telegram">
						<use xlink:href="#icon-telegram"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-inst">
						<use xlink:href="#icon-inst"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon icon-youtube">
						<use xlink:href="#icon-youtube"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>