<footer class="footer container-fluid">
    <div class="container-fluid footer-menu">
        <div class="row">
            <div class="connection col-2">
                <div class="connection__title">Оставайтесь на связи</div>
                <div class="connection__body">
                    <div class="connection__text">Подпишитесь на наши новости и узнавайте первыми о скидках</div>
                    <form class="connection__form" action="">
                        <input class="connection__input" type="text" value="Ваш E-mail">
                        <button class="connection__button">
                            <i class="connection__button_icon fas fa-play"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="office col-2">
                <div class="office__title"><a class="office__title-link" href="">Кабинет покупателя</a></div>
                <div class="office__body">
                    <ul class="office__list">
                        <li class="office__item"><a class="office__link" href="">Войти</a></li>
                        <li class="office__item"><a class="office__link" href="">Создать учётную запись</a></li>
                    </ul>
                </div>
            </div>
            <div class="store col-2">
                <div class="store__title"><a class="store__title-link" href="">Магазин</a></div>
                <div class="store__body">
                    <ul class="store__list">
                        <li class="store__item"><a class="store__link" href="">Бонусные баллы</a></li>
                        <li class="store__item"><a class="store__link" href="">Подарочные сертификаты</a></li>
                        <li class="store__item"><a class="store__link" href="">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
            <div class="categories col-2">
                <div class="categories__title"><a class="categories__title-link" href="">Категории</a></div>
                <div class="categories__body">
                    <ul class="categories__list">
                        <li class="categories__item"><a href="" class="categories__link">Уход за лицом</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Уход за телом</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Уход за волосами</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Декоративная косметика</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Дом & семья</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Наборы</a></li>
                        <li class="categories__item"><a href="" class="categories__link">Бренды</a></li>
                        <li class="categories__item"><a href="" class="categories__link">По компонентам</a></li>
                    </ul>
                </div>
            </div>
            <div class="contacts col-2">
                <div class="contacts__title"><a class="contacts__title-link" href="">Контакты</a></div>
                <div class="contacts__body">
                    <div class="contacts__text">
                        г. Новосибирск,<br>
                        8-800-700-04-58<br> (звонок бесплатный)<br>
                        Пн-Вс 9.00 - 18.00
                    </div>
                    <ul class="contacts__list">
                        <li class="contacts__item"><a href="" class="contacts__link">mytottoru@yandex.ru</a></li>
                        <li class="contacts__item"><a href="" class="contacts__link">Посмотреть на карте</a></li>
                    </ul>
                </div>
            </div>
            <div class="socnetwork col-2">
                <div class="socnetwork__title"><a class="socnetwork__title-link" href="">Соц. сети</a></div>
                <div class="socnetwork__body">
                    <ul class="socnetwork__list">
                        <li class="socnetwork__item"><a href="" class="socnetwork__link">Instagram</a></li>
                        <li class="socnetwork__item"><a href="" class="socnetwork__link">ВКонтакте</a></li>
                        <li class="socnetwork__item"><a href="" class="socnetwork__link">WhatsApp</a></li>
                        <li class="socnetwork__item"><a href="" class="socnetwork__link">Telegram</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright container-fluid">
        <div class="footer-copyright__text">Все права защищены lalikim.ru © 2018</div>
    </div>
</footer>