<footer class="footer container-fluid">
	<div class="cover relative">
		<div class="container-fluid footer__wrapper">
			<div class="row">
				<div class="footer-block col-12 col-md-3">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Магазин</h3>
						<svg class="footer-block__icon">
							<use class="footer-block__icon-toggle" xlink:href="#icon-angle-bottom"></use>
						</svg>
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item"><a class="footer-block__link" href="">Каталог</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Новинки</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Скидки и акции</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Карта сайта</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Мои заказы</a></li>
							<li class="footer-block__item"><a class="footer-block__link" href="">Избранное</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-3">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Поддержка</h3>
						<svg class="footer-block__icon">
							<use class="footer-block__icon-toggle" xlink:href="#icon-angle-bottom"></use>
						</svg>	
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item"><a href="" class="footer-block__link">Правила и условия</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Оплата и доставка</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Оферта</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Политика конфиденциальности</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Вопрос-ответ</a></li>
							<li class="footer-block__item"><a href="" class="footer-block__link">Помощь</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block col-12 col-md-3">
					<div class="footer-block__title-wrapper footer-accordion">
						<h3 class="footer-block__title" href="">Контакты</h3>
						<svg class="footer-block__icon">
							<use class="footer-block__icon-toggle" xlink:href="#icon-angle-bottom"></use>
						</svg>
					</div>
					<div class="footer-block__body">
						<ul class="footer-block__list">
							<li class="footer-block__item">
								<a href="" class="footer-block__link">
									<svg class="footer-icon-location">
										<use xlink:href="#icon-location"></use>
									</svg>
									г. Москва, ул. Красного Маяка д. 16 стр.1
								</a>
							</li>
							<li class="footer-block__item">
								<a href="" class="footer-block__link">
									<svg class="footer-icon-message">
										<use xlink:href="#icon-message"></use>
									</svg>
									info@eco-imperia.ru
								</a>
							</li>
							<li class="footer-block__item">
								<a href="" class="footer-block__link">
									<svg class="footer-icon-phone">
										<use xlink:href="#icon-phone"></use>
									</svg>
									8 (800) 707-72-35<br>звоните с 10 до 20 часов
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-connection col-12 col-md-3">
					<div class="footer-connection__title">Оставайтесь на связи</div>
					<div class="footer-connection__body">
						<form class="footer-connection__form container-fluid relative" action="">
							<input class="footer-connection__input container-fluid" type="text" placeholder="Введите e-mail">
							<button class="footer-connection__button" title="Найти" type="submit">
								<svg class="footer-icon-envelope">
									<use xlink:href="#icon-envelope"></use>
								</svg>
							</button>
						</form>
						<form class="footer-connection__form container-fluid relative" action="">
							<input class="footer-connection__input container-fluid" type="text" placeholder="Попробуйте найти...">
							<button class="footer-connection__button" title="Найти" type="submit">
								<svg class="footer-icon-button-search">
									<use xlink:href="#icon-button-search"></use>
								</svg>
							</button>
						</form>

					</div>
				</div>
			</div>
		</div>
		<a href="#">
			<div class="footer-anchor">
				<svg class="footer-icon-arrow-top">
					<use xlink:href="#icon-arrow-top"></use>
				</svg>
				<div class="footer-anchor__text">Наверх</div>
			</div>
		</a>
    </div>
	<div class="footer-copyright">
		<div class="cover footer-copyright__wrapper">
			<div class="footer-copyright__text">
				2005-2017 © My Totto — интернет-магазин корейской косметики. Создание сайта — 
				<a class="footer-copyright__link" href="">ksar.me</a>
			</div>
			<div class="footer-copyright__icons">
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-whatsapp">
						<use xlink:href="#icon-whatsapp"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-fb">
						<use xlink:href="#icon-fb"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-vk">
						<use xlink:href="#icon-vk"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-telegram">
						<use xlink:href="#icon-telegram"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-inst">
						<use xlink:href="#icon-inst"></use>
					</svg>
				</a>
				<a class="footer-copyright__icon" href="">
					<svg class="footer-icon-youtube">
						<use xlink:href="#icon-youtube"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>