<header class="header container-fluid">
    <div class="header-menu">
        <div class="header-title container-fluid row">
            <div class="container_padding col-12 col-xl-10">
                <div class="row">
                    <div class="header-title__name col-3">
                        <h1 class="header-title__name_h">Интернет магазин корейской косметики</h1>
                    </div>

                    <div class="header-info__phone_media justify-content-start col">
                        <a class="header-info__phone_color" href="tel: +79009595959">+7(900)959-59-59</a>
                    </div>

                    <div class="header-title__menu col-12 col-lg-9">
                        <ul class="header-title__list">
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Бонусные баллы</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Подарочные сертификаты</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Доставка и оплата</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Пункт самовывоза</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Контакты</h2></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-info container-fluid">
            <div class="row justify-content-center">
                <div class="container_padding col-12 col-xl-10">
                    <div class="header-info__wrapper row">
						<div class="col-md-1 header-info__icon-wrapper hidden">
							<i class="header-info__icon fas fa-key"></i>
						</div>
                        <div class="header-info-logo col-auto col-md-2">
                            <a class="header-info-logo_link" href="#">
								<!-- <img src="images/logo.png" alt=""> -->
								<svg class="icon icon-logo">
									<use xlink:href="libs/svg-icons/symbols.svg#icon-logo"></use>
								</svg>
							</a>
                        </div>
                        <div class="header-info__phone col-3">
                            <a class="header-info__phone_color" href="tel: +79009595959">+7(900)959-59-59</a>
                        </div>
                        <div class="header-info-search_flex col col-md-7">
                            <div class="header-info-search container-fluid row">
                                <div class="header-info-search_input col">
                                    <form action="">
                                        <input class="header-info-search__input container-fluid" type="text" placeholder="Искать товары">
                                        <button class="header-info-search__button" title="Найти" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-info-icons col-auto">
                                    <a href="#"><i class="header-info-icons__item far fa-heart fa-2x"></i></a>
                                    <a href="#"><i class="header-info-icons__item far fa-user-circle fa-2x"></i></a>
                                    <a href="#"><i class="header-info-icons__item fas fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="header-nav container-fluid">
        <div class="container-fluid justify-content-center row">
            <div class="container-fluid container_padding col-12 col-xl-10 js-nav-wrapper">
                <nav class="menu container-fluid">
                    <div class="menu-link">
                        <i class="menu-link__icon1 fas fa-bars"></i>
                        Меню
                        <i class="fas fa-angle-down menu-link__icon2"></i>
                    </div>
                    <ul class="menu__list">
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Уход за лицом</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Пенки и гели</a></li>
                                                <li><a href="#" class="menu-drop__item">Снятие макияжа</a></li>
                                                <li><a href="#" class="menu-drop__item">Гидрофильное масло</a></li>
                                                <li><a href="#" class="menu-drop__item">Тоник</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Крем для лица</a></li>
                                                <li><a href="#" class="menu-drop__item">Скрабы и пилинги</a></li>
                                                <li><a href="#" class="menu-drop__item">Спреи и мисты</a></li>
                                                <li><a href="#" class="menu-drop__item">Сыворотки и лосьоны</a></li>
                                                <li><a href="#" class="menu-drop__item">Точечные средства</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Маски</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Патчи</a></li>
                                                <li><a href="#" class="menu-drop__item">Маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Тканевые маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Гидрогелевые маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Ночные маски</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Глаза и губы</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Бальзам для губ</a></li>
                                                <li><a href="#" class="menu-drop__item">Крем для кожи вокруг глаз</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Салфетки и диски</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Ватные палочки и диски</a></li>
                                                <li><a href="#" class="menu-drop__item">Матирующие салфетки</a></li>
                                                <li><a href="#" class="menu-drop__item">Очищающие салфетки</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Уход за телом</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Крем для тела</a></li>
                                                <li><a href="#" class="menu-drop__item">Лосьон для тела</a></li>
                                                <li><a href="#" class="menu-drop__item">Защита от солнца для тела</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход для тела</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Уход для рук</a></li>
                                                <li><a href="#" class="menu-drop__item">Уход для ног</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Уход за волосами</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Шампунь</a></li>
                                                <li><a href="#" class="menu-drop__item">Бальзамы и кондиционеры</a></li>
                                                <li><a href="#" class="menu-drop__item">Маски для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Масло для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Спреи и мисты для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Эссенции и сыворотки для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Укладка</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Аксессуары для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Средства для укладки</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Декоративная косметика</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Рыба</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Дом & семья</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Наборы</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop_padding container-fluid row">
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#"><div class="col">Бренды</div></a>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#"><div class="col">По компонентам</div></a>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>

        </div>
    </nav>
</header>