<header class="header container-fluid">
    <div class="header-menu">
        <div class="header-name container-fluid row">
            <div class="container_padding col-12 col-xl-10">
                <div class="row">
                    <div class="header-name__name col-3">
                        <h1 class="header-name__name_h">Интернет магазин корейской косметики</h1>
                    </div>

                    <div class="header-info__phone_media justify-content-start col">
                        <a class="header-info__phone_color" href="tel: +79009595959">+7(900)959-59-59</a>
                    </div>

                    <div class="header-name__menu col-12 col-lg-9">
                        <ul class="header-name__list">
                            <a href="#"><li class="header-name__item"><h2 class="header-name__item_h">Бонусные баллы</h2></li></a>
                            <a href="#"><li class="header-name__item"><h2 class="header-name__item_h">Подарочные сертификаты</h2></li></a>
                            <a href="#"><li class="header-name__item"><h2 class="header-name__item_h">Доставка и оплата</h2></li></a>
                            <a href="#"><li class="header-name__item"><h2 class="header-name__item_h">Пункт самовывоза</h2></li></a>
                            <a href="#"><li class="header-name__item"><h2 class="header-name__item_h">Контакты</h2></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-info container-fluid">
            <div class="row justify-content-center">
                <div class="container_padding col-12 col-xl-10">
                    <div class="row">
                        <div class="header-info-logo col-auto col-md-2">
                            <a class="header-info-logo_link" href="#"><img src="images/logo.png" alt=""></a>
                        </div>
                        <div class="header-info__phone col-3">
                            <a class="header-info__phone_color" href="tel: +79009595959">+7(900)959-59-59</a>
                        </div>
                        <div class="header-info-search_flex col col-md-7">
                            <div class="header-info-search container-fluid row">
                                <div class="header-info-search_input col">
                                    <form action="">
                                        <input class="header-info-search__input container-fluid" type="text" placeholder="Искать товары">
                                        <button class="header-info-search__button" title="Найти" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-info-icons col-auto">
                                    <a href="#"><i class="header-info-icons__item far fa-heart fa-2x"></i></a>
                                    <a href="#"><i class="header-info-icons__item far fa-user-circle fa-2x"></i></a>
                                    <a href="#"><i class="header-info-icons__item fas fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="header-nav container-fluid">
        <div class="container-fluid justify-content-center row">
            <div class="container-fluid container_padding col-12 col-xl-10">
                <nav class="header-nav-menu container-fluid">
                    <ul class="header-nav-menu__list">
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Уход за лицом</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Очищение</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Пенки и гели</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Снятие макияжа</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Гидрофильное масло</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Тоник</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Уход</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Крем для лица</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Скрабы и пилинги</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Спреи и мисты</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Сыворотки и лосьоны</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Точечные средства</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Маски</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Патчи</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Маски</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Тканевые маски</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Гидрогелевые маски</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Ночные маски</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Глаза и губы</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Бальзам для губ</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Крем для кожи вокруг глаз</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Салфетки и диски</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Ватные палочки и диски</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Матирующие салфетки</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Очищающие салфетки</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Уход за телом</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Уход</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Крем для тела</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Лосьон для тела</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Защита от солнца для тела</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Уход для тела</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Уход для рук</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Уход для ног</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Уход за волосами</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Очищение</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Шампунь</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Бальзамы и кондиционеры</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Маски для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Уход</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Масло для волос</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Спреи и мисты для волос</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Эссенции и сыворотки для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Укладка</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Аксессуары для волос</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Средства для укладки</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Декоративная косметика</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Дом & семья</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыба</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Наборы</div><i class="header-nav-menu__item_i fas fa-angle-down"></i></a>
                            <div class="header-nav-menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding col-12 col-xl-10">
                                    <div class="header-nav-menu-drop_padding container-fluid row">
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="header-nav-menu-drop__list-header">Рыба</a>
                                            <ul class="header-nav-menu-drop__list">
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="header-nav-menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">Бренды</div></a>
                        </li>
                        <li class="header-nav-menu_padding header-nav-menu_drop">
                            <a class="header-nav-menu__item row" href="#"><div class="col">По компонентам</div></a>
                        </li>
                    </ul>

                </nav>

            </div>

        </div>
    </nav>
</header>