<header class="header container-fluid">
    <div class="header-menu">
		<div class="header-frame"></div>
        <div class="header-title container-fluid row">
            <div class="container_padding align-items-center cover">
                <div class="container-fluid row justify-content-end">

                    <div class="header-info-phone__media justify-content-start col">
                        <a class="header-info-phone__link" href="tel: +79009595959">+7(900)959-59-59</a>
                    </div>

                    <div class="header-title__menu">
                        <ul class="header-title__list">
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Бонусные баллы</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Подарочные сертификаты</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Доставка и оплата</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Пункт самовывоза</h2></li></a>
                            <a href="#"><li class="header-title__item"><h2 class="header-title__item_h">Контакты</h2></li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-info container-fluid">
            <div class="container-fluid row justify-content-center">
                <div class="container_padding cover">
                    <div class="container-fluid header-info__wrapper row">
						<div class="header-info-pers-area">
							<a class="header-info-pers-area__link" href="">
								<svg class="icon icon-pers">
									<use xlink:href="#icon-pers"></use>
								</svg>
								<p class="header-info-pers-area__text">Личный кабинет</p>
							</a>
						</div>
						<div class="header-info-basket">
							<a class="header-info-basket__link" href="">
								<svg class="icon icon-basket">
									<use xlink:href="#icon-basket"></use>
								</svg>
								<p class="header-info-basket__text">в корзине 
									<span class="js-number-of-goods">0</span> товар на сумму 
									<span class="js-cost">0</span>р
								</p>
							</a>

						</div>
                        
						<div class="header-info-search container-fluid row">
							<form class="container-fluid relative" action="">
								<input class="header-info-search__input container-fluid" type="text" placeholder="Попробуйте найти...">
								<button class="header-info-search__button" title="Найти" type="submit">
									<svg class="icon header-icon-button-search">
										<use xlink:href="#icon-button-search"></use>
									</svg>
								</button>
							</form>
						</div>
						<div class="header-info-phone">
                            <a class="header-info-phone__number" href="tel: +78007077235">8 <span>(800)</span> 707-72-35</a>
							<a class="header-info-phone__link" href="">
								<div class="header-info-phone__link_proportions">
									<p class="header-info-phone__link_text">
										Заказать звонок
									</p>
								</div>
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="header-nav container-fluid">
        <div class="container-fluid justify-content-center row">
            <div class="container-fluid container_padding cover js-nav-wrapper">
                <nav class="menu container-fluid">
                    <div class="menu-link">
                        <i class="menu-link__icon1 fas fa-bars"></i>
                        Меню
                        <i class="fas fa-angle-down menu-link__icon2"></i>
                    </div>
					<div class="menu-logo">
						<a class="menu-logo__link" href="#">
							<svg class="icon icon-logo" viewBox="0 0 228.59 52.56">
								<use xlink:href="#icon-logo"></use>
							</svg>
						</a>
						<div class="menu-logo_shadow"></div>
					</div>
                    <ul class="menu__list">
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Лицо</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="menu-drop__container container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
                                    <div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
									<div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Пенки и гели</a></li>
                                                <li><a href="#" class="menu-drop__item">Снятие макияжа</a></li>
                                                <li><a href="#" class="menu-drop__item">Гидрофильное масло</a></li>
                                                <li><a href="#" class="menu-drop__item">Тоник</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Крем для лица</a></li>
                                                <li><a href="#" class="menu-drop__item">Скрабы и пилинги</a></li>
                                                <li><a href="#" class="menu-drop__item">Спреи и мисты</a></li>
                                                <li><a href="#" class="menu-drop__item">Сыворотки и лосьоны</a></li>
                                                <li><a href="#" class="menu-drop__item">Точечные средства</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Маски</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Патчи</a></li>
                                                <li><a href="#" class="menu-drop__item">Маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Тканевые маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Гидрогелевые маски</a></li>
                                                <li><a href="#" class="menu-drop__item">Ночные маски</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Глаза и губы</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Бальзам для губ</a></li>
                                                <li><a href="#" class="menu-drop__item">Крем для кожи вокруг глаз</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Салфетки и диски</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Ватные палочки и диски</a></li>
                                                <li><a href="#" class="menu-drop__item">Матирующие салфетки</a></li>
                                                <li><a href="#" class="menu-drop__item">Очищающие салфетки</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Тело</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
									<div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
                                    <div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Крем для тела</a></li>
                                                <li><a href="#" class="menu-drop__item">Лосьон для тела</a></li>
                                                <li><a href="#" class="menu-drop__item">Защита от солнца для тела</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход для тела</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Уход для рук</a></li>
                                                <li><a href="#" class="menu-drop__item">Уход для ног</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Волосы</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
									<div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
                                    <div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Шампунь</a></li>
                                                <li><a href="#" class="menu-drop__item">Бальзамы и кондиционеры</a></li>
                                                <li><a href="#" class="menu-drop__item">Маски для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Уход</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Масло для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Спреи и мисты для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Эссенции и сыворотки для волос</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Укладка</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Аксессуары для волос</a></li>
                                                <li><a href="#" class="menu-drop__item">Средства для укладки</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Макияж</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
									<div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
                                    <div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Рыба</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Дом&семья</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
									<div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
                                    <div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыба</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#">
                                    <i class="menu-item__icon1 fas fa-user-circle"></i>
                                    <div class="col">Наборы</div>
                                </a>
                                <i class="menu-item__icon2 fas fa-angle-down accordion hidden"></i>
                            </div>
                            <div class="menu-drop container-fluid justify-content-center row">
                                <div class="container-fluid container_padding js-menu-wrapper col-12 col-xl-10">
									<div class="menu-drop__title">
										<a class="menu-drop__catalog" href="">Каталог</a>
										<a class="menu-drop__see-all" href="">Смотреть все</a>
									</div>
                                    <div class="menu-drop__body container-fluid row">
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-drop__body_hover">
                                            <div class="menu-drop__wrap">
                                                <a href="#" class="menu-drop__list-header">Очищение</a>
                                                <i class="menu-drop__icon fas fa-plus accordion-list"></i>
                                            </div>
                                            <ul class="menu-drop__list">
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                                <li><a href="#" class="menu-drop__item">Рыбка</a></li>
                                            </ul>
                                        </div>
										<div class="menu-drop-img">
											<div class="menu-drop-img__face"></div>
											<div class="menu-drop-img__sale">
												<p class="menu-drop-img__text">Скидка 40% на избранные товары раздела Кремы и лосьены</p>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#"><div class="col">Ингридиенты</div></a>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#"><div class="col">Бренды</div></a>
                            </div>
                        </li>
                        <li class="menu_padding menu_drop">
                            <div class="menu__wrap">
                                <a class="menu-item row" href="#"><div class="col">По компонентам</div></a>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>

        </div>
    </nav>
</header>