<div class="info">
	<div class="cover">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-xl-6 col-lg-7 col-md-8 col-sm-10">
					<div class="info__wrapper">
						<div class="info__body">
							<h3 class="info__title">О компании</h3>
							<div class="info__line"></div>
							<p class="info__text">
								Наша компания и интернет-магазин стал одним из первых магазинов, 
								осуществляющих on-line продажу эко десертов в регионе. Компания 
								специализируется на оптовой и розничной продаже эко десертов.
								<br><br>
								На данный момент мы владеем интернет–магазином и имеющую в своей 
								сети единый call-центр, который регулирует всю деятельность магазина, 
								отдел продаж, службу доставки, собственный склад c постоянным наличием 
								необходимого запаса товаров.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>