<div class="info">
	<div class="info-wrapper container-fluid">
		<div class="info-header">
			<h2 class="info-header__title">Интернет-магазин корейской косметики Totto</h2>
			<h3 class="info-header__tagline">Totto.ru — лучшее из Кореи</h3>
		</div>
		<div class="info-body container-fluid">
			<div class="info-body__content">
				<div class="content-wrapper">
					<p class="info-body__content-paragraph">
						Желание чувствовать себя привлекательным так же естественно для человека, как потребность дышать, 
						принимать пищу и любить. Но сохранять природное очарование в наше время уже стало довольно трудной задачей. 
						Ранние подъемы по утрам, монотонная череда дел, усталость и совсем немного времени, чтобы привести себя в порядок — вот она, 
						обратная сторона захватывающей современной реальности.
					</p>
					<p class="info-body__content-paragraph">
						Сегодня чтобы выглядеть на миллион в любой жизненной ситуации, 
						на помощь приходят маленькие друзья - косметика и системы ухода за кожей. 
						А избежать утомительного хождения и поиска нужной продукции можно благодаря 
						ежедневной работе интернет-магазина Totto.ru.
					</p>
					<p class="info-body__content-paragraph">
						Мы работаем только с проверенными поставщиками и гарантируем оригинальность и качество товаров, 
						а постоянные акции, бонусная программа и спецпредложения помогут вам экономить. 
						Подпишитесь на нашу рассылку и мы будем ненавязчиво вас оповещать о самых выгодных предложениях.
					</p>
				</div>
			</div>
			<div class="info-body__faq">
				<ul class="faq-list container-fluid">
					<li class="faq-item">
						<div class="faq-title-wrapper faq-accordion">
							<h3 class="faq-item__title">Totto — косметика для здоровья и красоты</h3>
							<i class="faq-item__icon fas fa-angle-down"></i>
						</div>
						<div class="faq-item__content hidden">
							<p class="faq-item__content-paragraph">
								Красота человека живет в гармонии с его здоровьем. Она начинается там, 
								где лицо и волосы сияют чистотой и свежестью. Природа дарит нам неповторимую 
								внешность, и наша задача - сохранить ее на долгие годы. Но как быть, 
								когда кожа увядает под действием перепадов температур, а у волос появляются 
								«вредные привычки» электризоваться и сечься из-за суровой зимы? 
								В данном случае не обойтись без дружной команды спасателей в виде кремов, масок, 
								сывороток и патчей, которые онлайн-магазин косметики 
								Totto предлагает заказать в любое время суток.
							</p>
						</div>
					</li>
					<li class="faq-item">
						<div class="faq-title-wrapper faq-accordion">
							<h3 class="faq-item__title">Почему именно корейская косметика?</h3>
							<i class="faq-item__icon fas fa-angle-down"></i>
						</div>
						<div class="faq-item__content hidden">
							<p class="faq-item__content-paragraph">
								Все уже привыкли что мировым законодателем моды в индустрии красоты и уходе за кожей является Франция. 
								Однако в последнее время данная закономерность уже теряет актуальность. 
								Появился новый лидер в лице Южной Кореи.
							</p>
							<p class="faq-item__content-paragraph">
								Корейские женщины традиционно уделяют много времени и сил уходу за кожей, 
								что включает в себя применение чистящих масок, очищающих гелей, эфирных масел, масок, 
								кремов для глаз, кремов для лица и обязательно защитный SPF крем. Следуя за спросом, 
								в лабораториях корейских косметических компаний было создано много уникальных, 
								эффективных продуктов до сих пор не имеющих аналогов в Европе и России.
							</p>
							<p class="faq-item__content-paragraph">
								Корейская индустрия красоты настолько стремительно развивается и набирает невероятные масштабы, 
								что правительство решило поддерживать этот рост. Сейчас Южная Корея экспортирует такое большое 
								количество косметических средств, что эта отрасль вполне может конкурировать 
								с отраслью компьютерных технологий. Сегодня, благодаря прямым поставкам из Южной Кореи, 
								высококачественная косметическая продукция доступна и вам, нашим покупателям.
							</p>
						</div>
					</li>
					<li class="faq-item">
						<div class="faq-title-wrapper faq-accordion">
							<h3 class="faq-item__title">Выбирая косметику - выбирайте Totto</h3>
							<i class="faq-item__icon fas fa-angle-down"></i>
						</div>
						<div class="faq-item__content hidden">
							<p class="faq-item__content-paragraph">
								Магазин Totto реализует корейскую косметику от производителя с доставкой по регионам России. 
								Наша схема работы прозрачна: вы получаете безупречные, оригинальные кремы, лосьоны, 
								маски и комплексы ухода за кожей, не покидая дома.
							</p>
							<p class="faq-item__content-paragraph">
								Мы заинтересованы в каждом клиенте, не торгуем подделками, предлагаем уникальный ассортимент 
								корейской косметики для всех возрастов и типов кожи. Обращайтесь за консультациями по 
								электронной почте или в чат. Весь товар в наличии на собственном складе.
							</p>
							<p class="faq-item__content-paragraph">
								При покупке корейской косметики вы получаете продукт премиум-качества по выгодной цене. 
								Предусмотрена система накопительных скидок в виде бонусов, а также подарки и сувениры для постоянных клиентов.
							</p>
						</div>
					</li>
					<li class="faq-item">
						<div class="faq-title-wrapper faq-accordion">
							<h3 class="faq-item__title">Весёлая упаковка серьезных косметических продуктов</h3>
							<i class="faq-item__icon fas fa-angle-down"></i>
						</div>
						<div class="faq-item__content hidden">
							<p class="faq-item__content-paragraph">
								Многие уже видели упаковку корейской косметики: яркие баночки, забавные коробки, кислотные цвета. 
								Неужели это — не детская косметика, а серьезное beauty-направление, которое с улыбочками, 
								шутками и прибаутками отобрало и продолжает отбирать львиную долю клиенток у огромных европейских 
								косметических корпораций? Да, именно так!
							</p>
							<p class="faq-item__content-paragraph">
								У Кореи свои традиции. Корейская косметика не говорит: «угри». Она говорит: «клубничный носик». 
								Она не скажет: «мешки под глазами». Она скажет: «глаза панды». Кожа очищается не скрабом-песком, 
								а мягкими приятными скрабами-скатками. Это не прозрачные баночки и капсулы со словами «возраст», 
								«морщины», «45+», «старение», от которых чувствуешь себя умирающей больной. Это всегда позитив и 
								хорошее настроение на весь день!
							</p>
						</div>
					</li>
					<li class="faq-item">
						<div class="faq-title-wrapper faq-accordion">
							<h3 class="faq-item__title">Новинки корейской косметики - ищите в Totto</h3>
							<i class="faq-item__icon fas fa-angle-down"></i>
						</div>
						<div class="faq-item__content hidden">
							<p class="faq-item__content-paragraph">
								Мы постоянно следим за новинками и регулярно обновляем наш ассортимент товаров, 
								предлагая только самое лучшее. На сайте Вы можете найти косметические средства из 
								последних каталогов корейских производителей для всех типов кожи — антивозрастную косметику, 
								очищающие пенки, скрабы и скатки, увлажняющие кремы, маски для лица, кремы под глаза, сыворотки, 
								эссенции, а также косметику для проблемной подростковой кожи, которая отлично справляется 
								с проблемами акне и высыпаний. Широкий выбор ББ кремов, СС кремов.
							</p>
							<p class="faq-item__content-paragraph">
								Интернет-магазин косметики Totto предлагает целый ряд качественных средств 
								по уходу кожей, купить которые можно в Санкт-Петербурге, Москве и других городах России. 
								Косметика, представленная на сайте, позволяет комплексно ухаживать за собой и всегда прекрасно выглядеть.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>