<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTotto - Онлайн-магазин косметики</title>
    <meta name="description" content="Косметика купить">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="libs/grid.min.css">
    <link rel="stylesheet" href="css/site.css">
    <script src="libs/jquery.min.js" async></script>
</head>
<body>
    @Html.Partial("_Header")
    
    <main class="main container-fluid">
        @Html.Partial("_Banners")

        <div class="container-fluid">
            <div class="container-fluid row justify-content-center">
                <section class="main-section-content main-section-content_padding col-10">
                    <div class="main-content container-fluid">
                        <div class="main-content_padding container-fluid">
                            <nav class="main-nav">
                                <ul class="main-nav__list">
                                    <li class="main-nav_center"><a href="#" class="main-nav__item main-nav__item_active">Новинки</a></li>
                                    <li class="main-nav_center"><a href="#" class="main-nav__item">Хиты продаж</a></li>
                                    <li class="main-nav_center"><a href="#" class="main-nav__item">Скидки и акции</a></li>
                                </ul>

                            </nav>
                        </div>
                        <div class="container-fluid">
                            <div class="products container-fluid row">
                                <div id="moveCarouselLeft" class="button-left col-1"><i class="fas fa-angle-left fa-3x"></i></div>
                                <div class="carousel col-10">
                                    <div class="products-wrapper row">
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream1.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream2.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream3.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream4.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream5.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream6.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="#">
                                                        <img class="product_img" src="images/cream7.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="#">Многослойные хлопковые салфетки 80шт Magic Tool Multi (5-layer) Cotton Pads 80</a>
                                                        <div class="product__price">
                                                            290
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="moveCarouselRight" class="button-right col-1"><i class="fas fa-angle-right fa-3x"></i></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </main>

    @RenderBody()

    <footer></footer>
    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
