<div class="modal">
	<div class="modal-content">
		<button class="modal-content-close">
			<div class="modal-content-close__text">Закрыть</div>
			<svg class="modal-icon-button-cross">
				<use xlink:href="#icon-button-cross"></use>
			</svg>
		</button>
		<div class="modal-wrapper">
			<h3 class="modal__title">Заказать обратный звонок</h3>
			<p class="modal__text modal__text_bold">Позвоните нам по телефону 8 (495) 777-88-99 или закажите звонок сейчас</p>
			<p class="modal__text modal__text_normal">И мы ответим на все Ваши вопросы</p>
			<form action="" class="modal-callback__form">
				<div class="modal-callback__input">
					<input class="modal-callback__input-name" type="text" name="name" placeholder="Введите Ваше имя">
					<input class="modal-callback__input-phone" type="tel" name="phone" placeholder="Введите телефон">
				</div>
				<button class="modal-callback__button" type="submit">Заказать звонок</button>
			</form>
		</div>
	</div>
</div>