@model ProductsAllViewModel

<div class="container-fluid">
    <div class="container-fluid row justify-content-center">
        <section class="main-section-content main-section-content_padding">
            <div class="main-content container-fluid">
                <div class="container-fluid">
                    <nav class="main-nav">
                        <div class="main-nav__wrapper cover">
                            <ul class="main-nav__list">
                                <li class="main-nav_center"><a class="main-nav__item js-main-nav__item-all">Все</a></li>
                                <li class="main-nav_center"><a class="main-nav__item js-main-nav__item-new main-nav__item_active">Новинки</a></li>
                                <li class="main-nav_center"><a class="main-nav__item js-main-nav__item-hits">Хиты продаж</a></li>
                                <li class="main-nav_center"><a class="main-nav__item js-main-nav__item-discount">Скидки и акции</a></li>
                            </ul>
                            <a href="/catalog/advanced-selection" class="main-nav__selection">
                                <svg class="product-icon-menu">
                                    <use xlink:href="#icon-menu"></use>
                                </svg>
                                <p class="main-nav__selection_text">Расширенный подбор</p>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="container-fluid justify-content-center row">
					<div class="products cover row js-products_all hidden">
						@foreach (var product in Model.AllProducts)
						{
							<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
								@await Html.PartialAsync("_ProductCard", product)
							</div>
						}
					</div>
                    <div class="products cover row js-products_new">
                        @foreach (var product in Model.NewProducts)
                        {
							<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            	@await Html.PartialAsync("_ProductCard", product)
							</div>
                        }
                    </div>
                    <div class="products cover row js-products_hit hidden">
                        @foreach (var product in Model.HitProducts)
                        {
							<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            	@await Html.PartialAsync("_ProductCard", product)
							</div>
                        }
                    </div>
                    <div class="products cover row js-products_discount hidden">
                        @foreach (var product in Model.DiscountProducts)
                        {
							<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            	@await Html.PartialAsync("_ProductCard", product)
							</div>
                        }
                    </div>

					<div class="products__link-wrapper cover">
						<button class="products__link js-products__watch-all">Смотреть все</button>
					</div>
			</div>
            </div>
        </section>
    </div>
</div>